:root{
    --color-div-border: #333;
    --color-blue: #007bff;
}

#container-riepilogo{
    padding-top: 30px;
    overflow:hidden;
}

#div-data-paziente{
    border: 0.4vh solid var(--color-div-border);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    box-sizing: border-box;
    display: block;
    margin: 10px 10px;
    padding: 10px 10px;
    text-decoration: none;
    max-width: 100%;
    background: #fdfdfd;
}
  
ol.check-list li {
    border: 0.3vh solid var(--color-div-border);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    box-sizing: border-box;
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
    text-decoration: none;
    /* max-width: 400px; */
}

ol.check-list li.colum {
    border: 0.3vh solid var(--color-div-border);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    box-sizing: border-box;
    display: block;
    margin: 2vh 1vw;
    padding: 10px 10px;
    text-decoration: none;
    max-width: 47%;
    background: #fdfdfd;
}

.riepilogo-domanda {
    margin: 10px 0;
    /* font-size: 1.0rem; */
    font-size: 2vh;
}

.riepilogo-buttons i {
    text-align: center;
    font-size: 3.5vh;
    color: #28BF8D;
    margin-top: 20px;
}

.button-non-conformita{
    background: var(--color-blue);
    /* width: 35px; 
    height: 35px; */
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    color: #fff;
}

.riepilogo-conformita {
    padding-top: 8px;
    /* font-size: 0.9rem; */
    font-size: 2vh;
}

hr {
    border: 0;
    height: 1.4px;
    background: #ccc;
    /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
}

.button-top {
    position: fixed;
    margin-top: 110px;
}

.button-bottom {
    position: fixed;
    bottom: 80px;
}

#content {
    overflow:auto;
    /* height: 700px; */
    height: 82vh; 
}

.label-data{
    color: #222222;
    /* font-size: 16px; */
    font-size: 2.5vh;
    padding-left: 5px;
}

.titolo-fase-riepilogo{
    font-size: calc(2px + 2vw);
    color: var(--color-blue);
}

.btn-circle.btn-lg {
    /* width: 150px;
    height: 150px; */
    padding: 10px 16px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    /* font-size: 70px; */
    line-height: 1.33;
    background-color: #32c682;
    border-color: #32c682;
}

@media screen and (min-width: 680px) {
    
}

@media screen and (min-width: 1224px) {
    .btn-circle.btn-lg {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    .button-non-conformita {
        width: 20px;
        height: 20px;
    }
}

/* 1280×720 */
@media screen and (min-width: 1280px) {
    .btn-circle.btn-lg {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    .button-non-conformita {
        width: 35px;
        height: 35px;
    }
}
/* 1366x768 */
@media screen and (min-width: 1366px) {
    .btn-circle.btn-lg {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    .button-non-conformita {
        width: 35px;
        height: 35px;
    }
}
  
  /* (1440x900) WXGA+ Display */
@media  screen and (min-width: 1440px) {
    .btn-circle.btn-lg {
        width: 70px;
        height: 70px;
        font-size: 30px;
    }
    .button-non-conformita {
        width: 35px;
        height: 35px;
    }
}
  
  /* (1680x1050) WSXGA+ Display */
@media  screen and (min-width: 1680px) {
    .btn-circle.btn-lg {
        width: 80px;
        height: 80px;
        font-size: 40px;
    }
    .button-non-conformita {
        width: 40px;
        height: 40px;
    }
}
  
  /* (1920x1080) Full HD Display */
@media  screen and (min-width: 1920px) {
    .btn-circle.btn-lg {
        width: 90px;
        height: 90px;
        font-size: 40px;
    }
    .button-non-conformita {
        width: 50px;
        height: 50px;
    }
}
  
  /* (2560×1600) Full HD Display */
@media  screen and (min-width: 2560px) {
    .btn-circle.btn-lg {
        width: 110px;
        height: 110px;
        font-size: 50px;
    }

    .button-non-conformita {
        width: 60px;
        height: 60px;
    }
}
/* (3840×2160) Full HD Display */  
@media screen and (min-width: 3440px) {
    .btn-circle.btn-lg {
        width: 150px;
        height: 150px;
        font-size: 70px;
    }

    .button-non-conformita {
        width: 80px;
        height: 80px;
    }
} 
